
    {{#each this}}
    <div class="product-short">
        <div class="tags">
            <a class="hot" href="#">HOT</a>
            <a class="new" href="#">NEW</a>
            <a class="right" href="#"><i></i></a>
        </div>
        <img src="{{this.imgs.[0]}}" alt="">
        <div class="info">
            <a href="#/products/{{this.category}}/{{this.id}}"><h4>{{this.name}}</h4></a>
            <span class="price">${{this.price}}</span>
        </div>
    </div>
    {{/each}}
