<section>
    <h3 >Shopping Cart</h3>
</section>
<section>
    <div class="container">
        <div >
            <div >
                <table >
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Product</th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if this.length}}
                        {{#each this}}
                        <tr data-id={{id}}>
                            <th scope="row">
                                <a href="#/shoppingCart" class="btn-remove-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove from cart">
                                    fgfg
                                </a>
                            </th>
                            <td>
                                <a href="#">
                                    <img alt="Product"  src="{{imageURL}}" />
                                </a>
                            </td>
                            <td>
                                <span>{{name}}</span>
                            </td>
                            <td>
                                <span>${{price}}</span>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                            <td>
                                <span>No items added to the cart!</span>
                            </td>
                        {{/if}}
                    </tbody>
                </table>
            </div>

            <!--totals-->
            <div >
                <div >
                    <h5 class="uppercase">Your Order Total</h5>
                    <table >
                        <tbody>
                            <tr>
                                <th scope="row">Order Total</th>
                                <td>
                                    <strong id="totalPrice"></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <form class="#btn-add-details">
                        <a href="#/addDeliveryDetails" >Proceed To Checkout</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
