<section>
    <h3 class="no-margin">Shopping Cart</h3>
    <hr class="cart-hr no-margin">
</section>
<section>
    <div class="container">
        {{#if this.length}}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this}}
                        <tr class="em1-5" data-id= {{this.id}}>
                            <th scope="row">
                                <a href="#/shoppingCart" class="btn-remove-item">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </th>
                            <td class="text-center">
                                <img class="border margin-10-20" alt="Product" src="{{this.imgs.[0]}}" />
                            </td>
                            <td class="text-center">
                                <span>{{this.name}}</span>
                            </td>
                            <td class="text-center">
                                <span>${{this.price}}</span>
                            </td>
                        </tr>
                    {{/each}}
        {{else}}
            <td>
                <p>No items added to the cart!</p>
            </td>

                </tbody>
            </table>
        {{/if}}
    </div>

    <!--totals-->
    <div>
        <table class="em1-5 right">
            <tbody>
              <hr class="total-cart-hr">
                <tr>
                    <th scope="row">Order Total:</th>
                    <td>
                        <strong id="totalPrice"></strong>
                    </td>
                </tr>
            </tbody>
        </table>

        <form class="#btn-add-details">

            <a class="btn color-5b9ca3 text-ffffff font-bernh" href="#/addDeliveryDetails">Proceed To Checkout</a>
        </form>
    </div>
</section>
