<div id="{{this.id}}" class="items">
    <div class="item-container flex">
        <div class="main-info flex row">
            <div class="main-img">
                <img class="border" src="{{this.imgs.[0]}}" alt="">
            </div>
            <div class="item-info flex">
                <div class="title-sect ">
                    <span class="hot">HOT</span>
                    <span class="new">NEW</span>
                    <h3 class="no-margin upperc">{{this.name}}</h3>
                </div>
                <hr class="no-margin">
                <div class="info-sect">
                    <span class="price">${{this.price}}</span>
                    <span class="summery">{{this.summary}}</span>
                </div>
                <button class="btn text-center color-5b9ca3 inline text-ffffff font-bernh" id="btn-add-item">Add to cart</button>
            </div>
        </div>
        <div class="other-imgs flex row">
            {{#each this.imgs}}
                <img class="border" src="{{this}}" alt="">
            {{/each}}
        </div>
    </div>
</div>
