
<div id="{{this.id}}" class="items">
        <div class="item-container">
            <div>
                <ul class="item-properties">
                    <li><h3>{{this.name}}</h3></li>
                    <li>${{this.price}}</li>
                </ul>
            <img src="{{this.imgs.[0]}}" alt="">
                <ul class="item-properties">

                    <li><span>Category:</span> {{this.category}}</li>
                    <li><span>Summary:</span> {{this.summary}}</li>
                      <button id="btn-add-item" class="btn btn-default">Add to cart</button>
                </ul>
            </div>
        </div>
    </div>
